<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="POST">
        <label for=""> Név: <br>
            <input type="text" name="nev" required>
            <br>
        </label>
        <label for=""> Kor: <br>
            <input type="number" name="kor" required>
            <br>
        </label>
        <label for="">
            <select name="faj" id="">
                <option value="" selected>--Válasszon fajt--</option>
                <option value="Cica">Házi macska</option>
                <option value="Kutya">Kutya</option>
                <option value="Elefánt">Indiai elefánt</option>
                <option value="Bolygó">Bolygó</option>
                <option value="Panda">Óriáspanda</option>
            </select>
            <br>
        </label>
        <input type="submit" value="Hozzáadás">
    </form>
</body>
</html>
